<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>LightningHost - Fast & Reliable Server Hosting</title>
</head>
<body>
  <header id="header">
    <img src="https://static.vecteezy.com/system/resources/previews/020/966/106/non_2x/server-icon-design-free-vector.jpg" id="header-img" alt="LightningHost Logo" />
      <h1>Vulnerability Tracker</h1>
      <nav id="nav-bar">
      <a class="nav-link" href="#About">About</a>
      <a class="nav-link" href="#FAQ">FAQ</a>
      <a class="nav-link" href="#Donations">Donations</a>
      </nav>
  </header>
</body>
</html>