<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vulnerability Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header id="header">
    <img src="https://static.vecteezy.com/system/resources/previews/020/966/106/non_2x/server-icon-design-free-vector.jpg" id="header-img" alt="Website Logo" />
    <h1>Vulnerability Tracker</h1>
    <nav id="nav-bar">
      <a class="nav-link" >Lookup</a>
      <a class="nav-link" href="{{ url_for('low.lowseverity') }}">Low-Severity</a>
      <a class="nav-link" >Donations</a>
      </nav>
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
</body>
</html>